// VARIABLES

$page-width: 1280px;

$color-main: #e74c3c;
$color-secondary: #e0d7c3;
$color-tertiary: #991f13;

$color-light: #f4f4f4;
$color-medium: #ccc;
$color-dark: #333;

$bg-img: url("../img/showcase.jpg");
